* {
	margin:0;
	padding:0;
}


body {
	font-size: .75em;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 4em;
}

h1 {
	font-size: 4em;
	font-weight: 700;
	padding-bottom: 0.5em;
}
h2 {
	font-size: 3em;
	font-weight: 700;
	padding-bottom: 0.5em;
}

#deck {
	width:10%;
	min-width: 6em;
	margin-left: -10em;
	margin-right: 5em;
	display: inline-block;
}

#wrapper {
	width: 80%;
	max-width: 90em;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
}

#game-over{
	/*color:;*/
}

.card {
	background-color: #2a2b2a;
	font-size: 1em;
	width: 12em;
	max-width: 20em;
	height: 16em;
	margin: 0 3% 2em 0;
	position: relative;
	display:inline-block;
	-webkit-transition:background-color s, -webkit-transform s;
    transition:background-color s, transform s;
}


.card_back{
	/*background-image: url("dark_geometric_@2X.png");*/
	font-size: 1em;
	background-color: #222;
	margin-top: -11.8em;
	margin-left:1px;
	width: 10em;
	height: 12em;
    border: 1px solid #CCC;
}

.card_back:first-child{
	margin-top: 0;
}

.dot {
	width:2em;
	height:2em;
	border-radius: 50%;
	content: ' ';
}

.top-left {
	/*red*/
	background-color: #c23d4b;
	position:absolute;
	top:2em;
	left:2em;

}
.mid-left {
	/*blue*/
	background-color: #4287c7;
	position:absolute;
	top:44%;
	left:2em;
}
.bottom-left {
	/*green*/
	background-color: #1d7d3d;
	position: absolute;
	left:2em;
	bottom:2em;
}
.top-right{
	/*purple*/
	background-color: #8177b7;
	position:absolute;
	top:2em;
	right:2em;
}
.mid-right{
	/*yellow*/
	background-color: #f1ca1b;
	position:absolute;
	top:44%;
	right:2em;
}
.bottom-right{
	/*orange*/
	background-color: #e16326;
	position: absolute;
	bottom:2em;
	right:2em;
}
.on{
	visibility: visible;
}
.off{
	visibility: hidden;
}
.table{
	width:75%;
	display: inline-block;
	vertical-align: top;
}

.scorecard {
	background-image: url('starburst.gif');
	font-size: 3em;
	z-index:20;
	background-repeat: no-repeat;
	background-size: 150px;
	height:150px;
	width:150px;
	font-weight: 700;
	text-align: center;
	padding-top: 55px;
	position: absolute;
	top:0;
	right:-1em;
}

.text-block {
	margin:3em 5em 0 3em;
	display: inline-block;
	text-align: left;
	background-color: #ccc;
	/*width: 100%;*/
	padding:4em;
	max-width: 40em;
}
.selected {
	/*border: solid 12px grey;
	/*background-color: black;*/
	background: repeating-linear-gradient(
	  135deg,
	  #2a2b2a,
	  #2a2b2a 10px,
	  #000 10px,
	  #000 20px
	);
	background-color: black;
}

.flat-button{
	font-size: 0.5em;
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	border-radius: 100%;
	background-color:#ccc;
	position: relative;
	top: -0.25em;
	left:25px;
}

@media (max-width: 700px) {
	h1{
		padding-bottom: 0.25em;
	}
    #deck{
    	display:none;
    }
    .scorecard{
    	top:0;
    	right:0;
    	margin: 0 auto;
    	padding: 0;
    	background-image: none;
    	background-size: 80px;
    	height:60px;
    	width: 200px;
    	display: block;
    	position:relative;
    }
    .scorecard:before{
    	content: "Score: ";
    	/*margin-left: 2em;*/
    }
    .table{
    	width:90%;
    }
    .card{
    	font-size:0.75em;
    }
    #wrapper{
    	min-width: 300px;
		width:100%;
    }
}