* {
	margin:0;
	padding:0;
}

body {
	font-size: .75em;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 4em;
}

h1 {
	font-size: 4em;
	font-weight: 700;
	margin-bottom: 1em;
}

.deck {
	width:25%;
	margin-left: -25%;
	vertical-align: top;
	display: inline-block;
}

#wrapper {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.card {
	background-color: #2a2b2a;
	width: 12em;
	max-width: 20em;
	height: 16em;
	margin: 0 3% 2em 0;
	position: relative;
	display:inline-block;
	-webkit-transition:background-color s, -webkit-transform s;
    transition:background-color s, transform s;
}

.dot {
	width:2em;
	height:2em;
	border-radius: 50%;
	content: ' ';
}

.top-left {
	/*red*/
	background-color: #c23d4b;
	position:absolute;
	top:2em;
	left:2em;

}
.mid-left {
	/*blue*/
	background-color: #4287c7;
	position:absolute;
	top:44%;
	left:2em;
}
.bottom-left {
	/*green*/
	background-color: #1d7d3d;
	position: absolute;
	left:2em;
	bottom:2em;
}
.top-right{
	/*purple*/
	background-color: #8177b7;
	position:absolute;
	top:2em;
	right:2em;
}
.mid-right{
	/*yellow*/
	background-color: #f1ca1b;
	position:absolute;
	top:44%;
	right:2em;
}
.bottom-right{
	/*orange*/
	background-color: #e16326;
	position: absolute;
	bottom:2em;
	right:2em;
}
.on{
	visibility: visible;
}
.off{
	visibility: hidden;
}
.scorecard {
	font-size: 1.5em;
	background-color: #2a2b2a;
	color:#fff;
	width: 10%;
	padding:1em 1.5em;
	position: fixed;
	border-radius: 20px;
	right: -20px;
	top: 100px;
}

.text-block {
	margin:7%;
	display: inline-block;
	text-align: left;
	background-color: #ddd;
	/*width: 100%;*/
	padding:3em 10%;
	/*max-width: 80%;*/
}
.selected {
	/*border: solid 12px grey;*/
	/*background-color: black;*/
	background: repeating-linear-gradient(
	  135deg,
	  #2a2b2a,
	  #2a2b2a 10px,
	  #000 10px,
	  #000 20px
	);
	background-color: black;
}